<!DOCTYPE html>
<html>
  <head>
    <title>ToDo list powered by Opal-Ferro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="description", content="ToDo list powered by Opal-Ferro">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag '/favicon.ico', type: 'image/ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body/>
</html>